
@{
    ViewBag.Title = "Invalid";
    Layout = "~/MasterPage.cshtml";
}



<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-5 py-4">
        <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle"></span>Invalid User Name or Password </h3>
        <div class="row contact-main-info">
            <div class="col-md-7 contact-right">
               <a href='@Url.Action("LoginArea","LoginArea")' class="btn btn-dark"> Back to Home</a>
            </div>

        </div>


    </div>
</section>

